# Flutter / Dart tooling
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.generated_plugin_registrant.dart

# Build outputs
/build/
/**/build/

# Android
/android/.gradle/
/android/app/build/
/android/local.properties
**/*.iml
**/gradle-wrapper.jar
/android/.kotlin/


# iOS
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/ServiceDefinitions.json
**/DerivedData/
/**/*.xcuserstate

# Xcode
xcuserdata/
*.xcworkspace
*.xcuserstate

# IDEs
.idea/
/.vscode/
*.iml
